/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*
*= require_tree .
*= require_self
*/

// Navbar Basic Colours
#navbarus {
 background-color: #37BC9B;
 border: 0px;
 border-radius: 0px;
 margin: 0px;
}

// Navbar myMealz Home button
#mymealznav {
 color: #fff;
 font-size: 20px;
 background-color: #2B957A;
 height: 65px;
 width: 120px;
 margin-top: -15px;
 padding-top: 30px;
}

// Dropdown on click change colour
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 background-color: #2B957A;
 color: #fff;
}

// Dropdown menu
.dropdown-menu {
    background-color: #273135;
}

.dropdown-menu > li > a {
    color: #fff;
}

.dropdown-menu .divider {
    background-color: #606060;
}

// Resizing Nav
.nav > li > form {
    margin-top: -2px;
}

#logins {
 padding-right: 15px;
 font-size: 12px;
}

#navtext {
 color: #fff;
}

//Body changes

body {
 background-color: #E9f0f9;
}


//SLIDESHOW CSS

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: 500px;
  position: relative;
  overflow: hidden;
}

/*.slideshow-container > a {
    color: #37CB9B;
}*/

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

//END SLIDESHOW CSS

//INDEX


.signupform{
top: 50%;
transform: translateY(-50%);
background-color: #E9f0f9;
text-align: right;
height: 95%;
float: left;
border-radius: 10px;
}

.informationdiv{
  height: 100%;
  right: 0;
  top: 0;
  float: left;
}

.firstrow{
  position: relative;
  height: 300px;
  background-color: #37BC9B;
}
//END INDEX

//Pages
.jumbotron {
    background-color: #fff;
    color: #273135;
    font-size: 30px;
    text-align: center;
    
}

.profile-picture {
    max-height: 250px;
    min-height: 200px;
}

.panel-offset {
    padding-left: 8%;
}

.main-panel {
    height: 900px;
}