/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 //GENERAL NAV BAR FORMATTING
 #navbarus {
  background-color: #37BC9B;
  border-radius: 0px;
  margin: 0px;
  border: 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
 }

//GUEST HOME BUTTON CONTAINER ON LEFT
#navbarleft{
  height: 100%;
  min-height: 90px;

}
//GUEST HOME BUTTON ON LEFT
#mymealznavguest {
 vertical-align: middle;
 margin: 10px;
}

#mymealznavuser {
 vertical-align: middle;
 margin: 5px;
}

//GUEST LOGIN BUTTON ON NAV BAR
.loginbutton{
  float: right;
  margin-top: 22px;
  background-color: #37BC9B;
  border-color: white;
}
//GUEST LOGIN BUTTON HOVER
.loginbutton:hover, .loginbutton:focus, .loginbutton.focus{
  background-color: #4C927B;
  color: white;
}
//END GUEST NAV BAR

//USER NAV BAR

//DROPDOWN COLORS
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 background-color: #2B957A;
 color: #fff;
}
//DROPDOWN COLORS
.dropdown-menu {
    background-color: #273135;
}
//DROPDOWN COLORS
.dropdown-menu > li > a {
    color: #fff;
}
//DROPDOWN COLORS
.dropdown-menu .divider {
    background-color: #606060;
}

//NAV BAR SIZE
.nav > li > form {
    margin-top: -2px;
}

#logins {
 padding-right: 15px;
 font-size: 12px;
}

#navtext {
 color: #fff;
}

//BODY CHANGES
body {
 background-color: #E9f0f9;
}

//TITLE ROW "WELCOME TO MYMEALZ"
.titlerow{
  background-color: #293135;
  color: white;
}

//ROW CONTAINING ICONS AND CONTENT
.firstrow{
  position: relative;
  background-color: #F5F5F5;
  padding: 0px 140px 0px 140px;
}
//DIVS CONTAINING ICONS
.icons{
  padding: 30px 60px 40px 60px;
}

//IMAGES IN FIRSTROW
.icon1, .icon2, .icon3{
  height: 100px;
  width: 100px;
  display:block;
  margin:auto;
}

//ROW CONTAINING SIGNUP FORM AND CONTENT
.secondrow{
  background-color: #FFFFFF;
  padding: 0px 120px 0px 120px;
}

//CONTENT FOR SECONDROW
.informationdiv{
  height: 100%;
  padding: 20px 80px 40px 30px;
}

//SIGN UP FORM IN SECONDROW
.signupform{
float: right;
padding: 20px 10px 40px 30px;
}

//SIGN UP BUTTON
.signupcontent{
  float: right;
  margin-top: 22px;
  background-color: #37BC9B;
  border-color: #37BC9B;
  color: white;
}

//SIGN UP BUTTON HOVER
.signupcontent:hover, .signupcontent:focus, .signupcontent.focus{
  background-color: #4C927B;
  color: white;
}

//CANCEL BUTTON
.cancelbutton{
  float: right;
  margin-top: 22px;
  margin-right: 10px;
  background-color: none;
  border-color: red;
  color: red;
}

//CANCEL BUTTON HOVER
.cancelbutton:hover, .cancelbutton:focus, .cancelbutton.focus{
  background-color: red;
  color: white;
}

//DARK DIVS FOR SUBTITLES
.beforefirstrow, .thirdrow{
  text-align: center;
  background-color: #293135;
  color: white;
}
.beforefirstrows{
  text-align: center;
  background-color: #F5F5F5;
}

//SLIDESHOW

* {box-sizing:border-box}

//SLIDESHOW CONTAINER
.slideshow-container {
  height: 700px;
  position: relative;
  overflow: hidden;
}

//HIDES IMAGES
.mySlides {
    display: none;
}

//PREV AND NEXT BUTTON
.prev, .next {
  cursor: pointer;
  position: absolute;
  line-height: 700px;
  top: 0;
  width: 150px;
  height:700px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

//SPECIAL FORMATTING FOR NEXT BUTTON
.next {
  right: 0;
  text-align: right;
}

//PREV AND NEXT BUTTON HOVER
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

//CAPTION TEXT (NOT CURRENTLY IN USE)
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

//SLIDE SELECTORS
.dot {
  cursor: pointer;
  height: 10px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}
//SLIDE SELECTORS HOVER
.active, .dot:hover {
  background-color: #717171;
}
//END SLIDESHOW CSS
//END INDEX

//DASHBOARD
//JUMBOTRON WITH USER GREETING
.jumbotron {
    background-color: #fff;
    color: #273135;
    font-size: 30px;
    text-align: center;
}
//PROFILE PICTURE DISPLAY
.profile-picture > p > img {
    max-width: 230px;
    min-height: 200px;
}
//LEFT PANEL
.panel-offset {
    padding-left: 8%;
}
//MAIN PANEL
.main-panel {
    min-height: 700px;
}
//END DASHBOARD
