.ro_RecipeTable {
  border: 3px solid #37BC9B;
}
.ro_TableHead {
  color: white;
  background-color: #37BC9B;
  max-width: 100px;
}

.ro_TableBody {
  color: #37BC9B;
}
/* The Modal (background) */
.ro_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.ro_modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.ro_close {
  color: white;
  position: absolute;
  top: 45px;
  right: 20px;
  font-size: 45px;
  font-weight: bold;
}

.ro_close:hover,
.ro_close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
