
<div class="row panel-offset">
  <!-- Left -->
  <div class="col-xs-2">
    <div class="panel panel-default">
      <div class="panel-body profile-picture">
        <p>
          <% if(current_user.avatar?) %>
            <%= image_tag current_user.avatar %>
          <% else %>
            <%= "No Profile Picture Found"%>
          <% end %>
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p> Links </p>
        <p><a href="/adminDB">Admin Panel</a></p>
        <p><%= link_to "Support Tickets", showTickets_path, remote: true %></p>
        <p><a href="/admin/alterContent">Alter Content</a></p>
      </div>
    </div>


  </div>

  <!-- Middle -->
  <div class="col-xs-9">
    <div id="current_dash_render" class="panel panel-default main-panel">
      <%= render '/layouts/supports/profile' %>
    </div>
        <!-- @savedmeals is the variable in the controller that all SavedMeal database entries go into
        Is hooked up with Username as the foreign_key. Currently shows every single database entry and not profile specific-->
  </div>
</div>
</div>
