<div class="row">
  <!-- Left -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Profile Picture for User </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p> Dashboard Links profile link should be here as it's a part of the dashboard (probably should appear across the top too?) </p>
      </div>
    </div>


  </div>

  <!-- Middle -->
  <div class="col-xs-9">
      <div class="panel panel-default">
        <div class="panel-body">
        <!-- @savedmeals is the variable in the controller that all SavedMeal database entries go into
        Is hooked up with Username as the foreign_key. Currently shows every single database entry and not profile specific-->
        </div>
      </div>

    <% #end %>
  </div>
</div>
