
<div class="row">
  <!-- Left -->
  <div class="col-xs-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <% if (current_user.avatar?) %>
            <%= image_tag current_user.avatar, :size => '100x100'%>
          <% else %>
            <%= "No Profile Picture Found" %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p> Links </p>
        <p><a href="#">Link 1</a></p>
        <p><%= link_to "Meal Planner", showMealPlanner_path, remote: true %></p>
        <p><a href="#">Link 3</a></p>
        <p><a href="#">Link 4</a></p>
        <p><%= link_to "Support Tickets", showTickets_path, remote: true %></p>
        <p><a href="#">Link 5</a></p>
      </div>
    </div>

    <div class="panel panel-default" id="accessoryPanel" style="display: none">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover" style="border: 3px solid limegreen">
            <thead style="background-color: limegreen">
              <tr>
                <th scope="col" class="text-center" style="color: white" colspan="2">Chosen Menu Items</th>
              </tr>
            </thead>

            <tbody id="accessoryPanel_currentList">

            </tbody>
            <tr style="background-color: white; color:black">
              <td class="mp_totalBorders CellWithComment" colspan="2"> Total Nutrient Content
                <span id="cellNum_total" class="CellComment">
                  <table>
                    <tr>
                      <td class="text-right">
                        <strong>Protein:&nbsp</strong>
                      </td>
                      <td id ="assPanel_protein">
                      </td>
                    </tr>
                    <tr>
                    <td class="text-right"><strong>Carb:&nbsp</strong></td>
                      <td id="assPanel_carb">
                    </td></tr>
                    <tr>
                      <td class="text-right"><strong>Fat:&nbsp</strong></td>
                      <td id="assPanel_fat"></td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Total Cal:&nbsp</strong></td>
                      <td id="assPanel_cal"></td>
                    </tr>
                  </table>
                </span>
              </td>
            </tr>
          </table>
          <br><br>
        </div>
      </div>
  </div>
  </div>

  <!-- Middle -->
  <!-- Middle -->
  <div class="col-xs-10">
    <div id="current_dash_render">

    </div>
        <!-- @savedmeals is the variable in the controller that all SavedMeal database entries go into
        Is hooked up with Username as the foreign_key. Currently shows every single database entry and not profile specific-->
  </div>
</div>
</div>

