
<div class="row">
  <!-- Left -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Profile Picture for Admin </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p> Links </p>
        <li><a href="/adminDB">Admin Panel</a></li>
        <li><%= link_to "showTickets", showTickets_path, remote: true %> </li>
        <li><a href="/admin/alterContent">Alter Content</a></li>
      </div>
    </div>


  </div>

  <!-- Middle -->
  <div class="col-xs-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="current_dash_render">
            afdf
          </div>
        <!-- @savedmeals is the variable in the controller that all SavedMeal database entries go into
        Is hooked up with Username as the foreign_key. Currently shows every single database entry and not profile specific-->
        </div>
      </div>

    <% #end %>
  </div>
</div>
