<div class="row">
<nav class="navbar navbar-default guestnav" id="navbarus">
    <div class="navbar-header" id="navbarleft">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="mymealznav" href="#">myMealz</a>
    </div>
      <div class="nav navbar-nav" style="float: right" id="logins">
        <%= render 'layouts/logup/login' %>
      </div>
</nav>
</div>
