<div class="row">
<nav class="navbar navbar-default" id="navbarus">
    <div class="navbar-header" id="navbarleft">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="mymealznav" href="#">myMealz</a>
    </div>
      <ul class="nav navbar-nav" style="float: right" id="logins">
        <li><%= render 'layouts/logup/login' %></li>
      </ul>
</nav>
</div>
