<div class="row">
<nav class="navbar navbar-default" id="navbarus">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="mymealznav" href="#">myMealz</a>
    </div>
      <ul class="nav navbar-nav" style="float: right">
        <li><a id="navtext" href="#">Link</a></li>
        <li class="dropdown">
          <a id="navtext" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "Hello, " + current_user.firstname %> <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="/dashboard/<%= current_user.username %>">Dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
        <li><a id="navtext"href="#">Help</a></li>
      </ul>
</nav>
</div>
