<div class="row">
<nav class="navbar navbar-default guestnav" id="navbarus">
    <div class="navbar-header" id="navbarleft">
      <a href="#"><%=image_tag("myMealzlogo.png", size: "70x70", id: "mymealznavguest") %></a>
      <div style="border-right: 1px solid white; height: 70px; width: 5px; float: right; margin-top: 10px;">
      </div>
    </div>

      <div class="nav navbar-nav" style="float: right" id="logins">
        <%= render 'layouts/logup/login' %>
      </div>
</nav>
</div>
