 <!-- Do Nutrition Value -->
 <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-sm" style="border: 1px solid burlywood">
            <thead style="background-color: burlywood">
              <tr>
                <th scope="col">Servings Left</th>
                <th scope="col" class="text-center">Protein</th>
                <th scope="col" class="text-center">Grains</th>
                <th scope="col" class="text-center">Dairy</th>
                <th scope="col" class="text-center">Vegetables</th>
                <th scope="col" class="text-center">Fruits</th>
                <th scope="col" class="text-center">Fats</th>
                <th scope="col" class="text-center">Discretionary</th>
                <th scope="col" class="text-center">Total Calorie Intake</th>
              </tr>
            </thead>

            <tbody>
            <tr style="background-color: white">
              <td style="border-right:2px solid burlywood"></td>
              <td class="text-center" style="border-right:2px solid burlywood">X</td>
              <td class="text-center" style="border-right:2px solid burlywood">X</td>
              <td class="text-center" style="border-right:2px solid burlywood">X</td>
              <td class="text-center" style="border-right:2px solid burlywood">Y</td>
              <td class="text-center" style="border-right:2px solid burlywood">X</td>
              <td class="text-center" style="border-right:2px solid burlywood">Z</td>
              <td class="text-center" style="border-right:2px solid burlywood">X</td>
              <td class="text-center" style="border-right:2px solid burlywood">1000</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div class="panel panel-default">
  <div class="panel-body">
    <!--<div class="container">-->
      <div class="row">
        <!-- Do Nutrition Value -->
        <div class="col-md-4">
          <div class="table-responsive-xs">
            <table class="table table-hover" style="border: 3px solid limegreen">
              <thead style="background-color: limegreen">
              <tr>
                <th scope="col" colspan="3">Item</th>
                <th scope="col">Protein</th>
                <th scope="col">Carb</th>
                <th scope="col">Fats</th>
                <th scope="col">Calorie Content</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td colspan="3">Dynamically Append</td>
                <td>pro</td>
                <td>carb</td>
                <td>fats</td>
                <td>total content</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
          <!-- End Nutrition Value -->
        <div class="col-md-2">
          <div class="table-responsive-xs">
          <table class="table table-hover" style="border: 3px solid indianred">
            <thead style="background-color: indianred">
              <tr>
                <th scope="col">Protein</th>
                <th scope="col"></th>
                <th scope="col">Serving Size</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">Chicken</td>
                <td align="right">X Cup</td>
              </tr>
              <tr>
                <td colspan="2">Turkey</td>
                <td align="right">X Cup</td>
              </tr>

              <tr>
                <td colspan="2">Larry the Bird</td>
                <td align="right">X Cup</td>
              </tr>
              <tr>
                <td colspan="2">Larry the Bird</td>
                <td align="right">X Cup</td>
              </tr>
              <tr>
                <td colspan="2">Larry the Bird</td>
                <td align="right">X Cup</td>
              </tr>
              <tr>
                <td colspan="2">Larry the Bird</td>
                <td align="right">X Cup</td>
              </tr>
              <tr>
                <td colspan="2">Larry the Bird</td>
                <td align="right">X Cup</td>
              </tr>
              <tr>
                <td colspan="2">Larry the Bird</td>
                <td align="right">X Cup</td>
              </tr>
              <tr>
                <td colspan="2">Larry the Bird</td>
                <td align="right">X Cup</td>
              </tr>
              <tr>
                <td colspan="2">Larry the Bird</td>
                <td align="right">X Cup</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="col-md-2">
          <div class="table-responsive-xs">
          <table class="table table-hover" style="border: 3px solid orange">
            <thead style="background-color: orange">
            <tr>
              <th scope="col">Grains</th>
              <th scope="col"></th>
              <th scope="col" class="text-right">Serving Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="2">Chicken</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Turkey</td>
              <td align="right">X Cup</td>
            </tr>

            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="col-md-2">
          <div class="table-responsive-xs">
            <table class="table table-hover" style="border: 3px solid dodgerblue">
              <thead style="background-color: dodgerblue">
            <tr>
              <th scope="col">Dairy</th>
              <th scope="col"></th>
              <th scope="col" class="text-right">Serving Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="2">Chicken</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Turkey</td>
              <td align="right">X Cup</td>
            </tr>

            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="col-md-2">
          <div class="table-responsive-xs">
            <table class="table table-hover" style="border: 3px solid green">
              <thead style="background-color: green">
            <tr>
              <th scope="col">Vegetables</th>
              <th scope="col"></th>
              <th scope="col" class="text-right">Serving Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="2">Chicken</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Turkey</td>
              <td align="right">X Cup</td>
            </tr>

            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
    </div>

    <!-- 2nd Row -->
    <div class="row">
      <!-- Begin meal selection -->
      <div class="col-md-6">
        <div class="panel panel-default" >
          <div class="panel-heading" id="breakfast_panel" style="background-color: olivedrab"><center>Breakfast</center></div>
          <div class="panel-body" id="breakfast_panel_content" style="display:none">
            <center>Dinner</center>
          </div>
        </div>
        <div class="panel panel-default" >
          <div class="panel-heading" id="lunch_panel" style="background-color: burlywood"><center>Lunch</center></div>
          <div class="panel-body" id="lunch_panel_content" style="display:none">
            <center>Dinner</center>
          </div>
        </div>
        <div class="panel panel-default" >
          <div class="panel-heading" id="dinner_panel" style="background-color: coral"><center>Dinner</center></div>
          <div class="panel-body" id="dinner_panel_content" style="display:none">
            <center>Dinner</center>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="table-responsive-xs">
          <table class="table table-hover" style="border: 3px solid rebeccapurple">
            <thead style="background-color: rebeccapurple">
            <tr>
              <th scope="col">Fruit</th>
              <th scope="col"></th>
              <th scope="col" class="text-right">Serving Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="2">Chicken</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Turkey</td>
              <td align="right">X Cup</td>
            </tr>

            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2">
        <div class="table-responsive-xs">
          <table class="table table-hover" style="border: 3px solid saddlebrown">
            <thead style="background-color: saddlebrown">
            <tr>
              <th scope="col">Fats</th>
              <th scope="col"></th>
              <th scope="col" class="text-right">Serving Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="2">Chicken</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Turkey</td>
              <td align="right">X Cup</td>
            </tr>

            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="col-md-2">
        <div class="table-responsive-xs">
          <table class="table table-hover" style="border: 3px solid yellow">
            <thead style="background-color: yellow">
            <tr>
              <th scope="col">Discretionary</th>
              <th scope="col"></th>
              <th scope="col" class="text-right">Serving Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="2">Chicken</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Turkey</td>
              <td align="right">X Cup</td>
            </tr>

            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            <tr>
              <td colspan="2">Larry the Bird</td>
              <td align="right">X Cup</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

