<div class="row">
  <!-- Left -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Profile Picture </p>
      </div>
    </div>
  </div>

  <!-- Middle -->
  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Main Container </p>
      </div>
    </div>
  </div>
</div>

<!-- Begin 2nd Row -->
<div class="row">

  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Links </p>
      </div>
    </div>
  </div>
</div>
