<!-- Jumbrotron heading thing for looks. Don't need to keep it, just checking it out -->
<div class="jumbotron">
  <div class="container">
    <%= "Hello " + @username + ", Welcome to your profile" %>
  </div>
</div>

<div class="row">
  <!-- Left -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Profile Picture </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p> Links </p>
      </div>
    </div>


  </div>

  <!-- Middle -->
  <div class="col-xs-9">
    <%= render '/components/savedmeal_form' %>
    <p> Note, this is not necessarily going to be here, it is just framework
    to display how to do it in Ruby </p>
    <h3>My Saved Meals: </h3>
    <% for @p in @savedmeals %>
      <div class="panel panel-default">
        <div class="panel-body">

          <p> <%= @p.content %> </p>
        <!-- @savedmeals is the variable in the controller that all SavedMeal database entries go into
        Is hooked up with Username as the foreign_key. Currently shows every single database entry and not profile specific-->
        </div>
      </div>

    <% end %>
  </div>
</div>
