<!-- Jumbrotron heading thing for looks. Don't need to keep it, just checking it out -->
<div class="jumbotron">
  <div class="container">
    <%= "Hello " + @username + ", Welcome to your profile" %>
  </div>
</div>

<div class="row">
  <!-- Left -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Profile Picture </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p> Links </p>
      </div>
    </div>


  </div>

  <!-- Middle -->
  <div class="col-xs-9">
      <div class="panel panel-default">
        <div class="panel-body">
        <!-- @savedmeals is the variable in the controller that all SavedMeal database entries go into
        Is hooked up with Username as the foreign_key. Currently shows every single database entry and not profile specific-->
        </div>
      </div>

    <% #end %>
  </div>
</div>
