/* Global Functions for use */
VIEWING_LIST = ['Breakfast - Monday', 'Breakfast - Tuesday', 'Breakfast - Wednesday', 'Breakfast - Thursday',
    'Breakfast - Friday','Breakfast - Weekend', 'Lunch - Monday', 'Lunch - Tuesday', 'Lunch - Wednesday',
    'Lunch - Wednesday', 'Lunch - Thursday', 'Lunch - Friday', 'Lunch - Weekend', 'Dinner - Monday', 'Dinner - Tuesday',
    'Dinner - Wednesday', 'Dinner - Thursday', 'Dinner - Friday', 'Dinner - Weekend'];

ELEMENT_LIST = ['b_mon', 'b_tue', 'b_wed', 'b_thur', 'b_fri', 'b_weekend', 'l_mon', 'l_tue', 'l_wed', 'l_thur', 'l_fri',
    'l_weekend', 'd_mon', 'd_tue', 'd_wed', 'd_thur', 'd_fri', 'd_weekend'];

COLOURS_USED = ["indianred", "orange", "dodgerblue", "green", "rebeccapurple", "saddlebrown", "gold"];

var currentlyViewed = 'Breakfast - Monday';
var selectedItemList = [];

function showDaysOfType(mealType) {

    var element = $('#'+mealType+'_panel_content');
    if (element.css('display') == 'block') {
        element.css("display", "none");
    } else {
        element.css("display", "block");
    }
}

function changeMealSelectionDay(dayChosen) {

    currentlyViewed = VIEWING_LIST[dayChosen];

    /*Update chosen item list (if any) */

    $('#'+ELEMENT_LIST[dayChosen]).css('background-color', 'red');
    $('#currentViewed').html(currentlyViewed);
}

function calculateTotals() {
    var pTotal = 0;
    var cTotal = 0;
    var fTotal = 0;
    var calTotal = 0;

    for(var k = 0; k < selectedItemList.length; k++) {
        pTotal += selectedItemList[k][2];
        cTotal += selectedItemList[k][3];
        fTotal += selectedItemList[k][4];
        calTotal += selectedItemList[k][1];
    }

    $('#proteinTotal').html(pTotal + 'g');
    $('#carbTotal').html(cTotal + 'g');
    $('#fatsTotal').html(fTotal + 'g');
    $('#calTotal').html(calTotal + 'cal');
}

function recreateSelectedList() {

    /*clear out the list */
    $('#currentList').html('');

    for(var j = 0; j < selectedItemList.length; j++) {
        $('#currentList').html(''+$('#currentList').html() +
            '<tr style="background-color:'+COLOURS_USED[selectedItemList[j][7]]+'; color:white"><td class="mp_totalBorders" colspan="4">' + selectedItemList[j][0] +
            '</td><td class="mp_totalBorders" >' + selectedItemList[j][2] + 'g</td>' + '<td class="mp_totalBorders" >' +
            selectedItemList[j][3] + 'g</td> <td class="mp_totalBorders" >' + selectedItemList[j][4] + 'g</td> ' +
            '<td class="mp_totalBorders" >' + selectedItemList[j][1] + 'cal</td> </tr>');
    }
    calculateTotals();
}

function makeItemSelection(itemType, productID, productName, totalCal, proteinQty, carbQty, fatQty, servingQty, servingType) {

    for(var i = 0; i< selectedItemList.length; i++) {
        if(selectedItemList[i][0] == productName) {
            selectedItemList.splice(i, 1);
            $('#'+itemType+'_'+productID).css({"background-color": "white", "color": COLOURS_USED[itemType]});
            recreateSelectedList();
            return;
        }
    }

    selectedItemList.push([productName, totalCal, proteinQty, carbQty, fatQty, servingQty, servingType, itemType]);

    $('#currentList').html(''+$('#currentList').html() +
        '<tr style="background-color: '+COLOURS_USED[itemType]+'; color:white"><td class="mp_totalBorders" colspan="4">'+
        productName+ '</td><td class="mp_totalBorders">'+proteinQty+'g</td>' + '<td class="mp_totalBorders">'+carbQty+
        'g</td><td class="mp_totalBorders">' +fatQty+'g</td> <td class="mp_totalBorders">'+totalCal+'cal</td> </tr>');


    $('#'+itemType+'_'+productID).css({"background-color": COLOURS_USED[itemType], "color": "white"});
    calculateTotals();
}
