function humanizeDate(date_str) {
  return (new Date(date_str).toGMTString())
}


/* Takes the element with ID ticketID and shows the form for it */
function showAdminReply(ticketID) {

  var element = $('#reply'+ticketID);
  if (element.css('display') == 'block') {
    element.css("display", "none");
  } else {
    element.css("display", "block");
  }

  /*Add in the Form */
  var data = '<br><div class="col-lg-12">' +
    '<div class="input-group">' +
      '<input type="text" class="form-control" id="mReply'+ticketID+'" ' +
      'placeholder="Message Reply">' +
      '<span class="input-group-btn">' +
        '<button class="btn btn-default" onclick="newAdminTicketReply('+ticketID+')" ' +
        'type="button">Send</button>' +
      '</span>' +
    '</div>' +
  '</div>'

  element.html(data);

}


function newAdminTicketReply(ticketID) {
  var message = "" + $('#mReply'+ticketID).val();
  var data = { "ticketID": ticketID, "message": message };
  data = JSON.stringify(data);

  $.ajax({
    url: "/admin_dashboard/replyMessage/"+data+ "",
    contentType : "application/json",
    /*url: "/admin_dashboard/replyMessage/"+data + "",*/
    dataType: 'json',
  }).success(function(data) {
    alert("Successfully Did reply message");
  }
)};

/*Probably shouldn't have the abilitity to do this... */
function deleteTicket(ticketID) {
  $.ajax({
    url: "/admin_dashboard/deleteTicket/"+ticketID + "",
    dataType: 'json',
  }).success(function(data) {
    alert("Success");
  }
)};

function markResolved(ticketID) {
  $.ajax({
    url: "/admin_dashboard/resolveTicket/"+ticketID + "",
    dataType: 'json',
  }).success(function(data) {
    alert("Success");
  }
)};


/*For both User and Admin */
function getMessageHistory(ticketID) {

  var element = $('#thread'+ticketID+'_'+'0');
  if (element.css('display') == 'block') {
    element.css("display", "none");
  } else {
    element.css("display", "block");
  }
  $.ajax({
    type: "GET",
    url: "/admin_dashboard/getMessageHistory/"+ticketID +"",
    contentType : "application/json",
    dataType: 'json'
  }).success(function(result) {
    var len = result["ticketArray"].length;
    for(var i = len-1; i>=0; i--) {
      var receiving = humanizeDate(result["ticketArray"][i].recievedAt);
      var data = '<div class="panel panel-default"><div class="panel-body">' +
      '<div class="row">' +
      '<div class="col-sm">' +
      '<span style="float:right; padding-right:25px">Message in thread: '+ (i+1) +
      ' of ' +
      (result["ticketArray"].length) +
      '</span></div></div><div class="row"><div class="col-sm" style="padding-left:25px"> ' +
      '<strong>Message occurred: </strong>' + receiving +
      '<br><strong> From username: </strong>' + result["ticketArray"][i].sender +
      '<br><strong> Message: </strong>' + result["ticketArray"][i].subjectBody +
      '</div></div></div></div>' +
      '<div id="thread'+ticketID+'_'+(len-i)+'"></div>'

      var element = $('#thread'+ticketID+'_'+(len-i-1))
      element.html(data);
    }
  }
);}


/* Specifically User Stuff */
function showUserReply(ticketID) {

  var element = $('#reply'+ticketID);
  if (element.css('display') == 'block') {
    element.css("display", "none");
  } else {
    element.css("display", "block");
  }

  /*Add in the Form */
  var data = '<br><div class="col-lg-12">' +
    '<div class="input-group">' +
      '<input type="text" class="form-control" id="mReply'+ticketID+'" ' +
      'placeholder="Message Reply">' +
      '<span class="input-group-btn">' +
        '<button class="btn btn-default" onclick="newUserTicketReply('+ticketID+')" ' +
        'type="button">Send</button>' +
      '</span>' +
    '</div>' +
  '</div>'

  element.html(data);

}

function newUserTicketReply(ticketID) {
  var message = "" + $('#mReply'+ticketID).val();
  var data = { "ticketID": ticketID, "message": message };
  data = JSON.stringify(data);

  $.ajax({
    url: "/user_dashboard/replyMessage/"+data+ "",
    contentType : "application/json",
    /*url: "/admin_dashboard/replyMessage/"+data + "",*/
    dataType: 'json',
  }).success(function(data) {
    alert("Successfully Did reply message");
  }
)};

function showFormNewTicket() {
  var element = $('#newTicket');
  if (element.css('display') == 'block') {
    element.css("display", "none");
  } else {
    element.css("display", "block");
  }

}

function generateNewTicket() {
  var title = "" + $('#newTickTitle').val();
  var message = "" + $('#newTickMessage').val();
  var data = { "title": title, "message": message };
  data = JSON.stringify(data);

  $.ajax({
    url: "/user_dashboard/newTicket/"+data+ "",
    contentType : "application/json",
    /*url: "/admin_dashboard/replyMessage/"+data + "",*/
    dataType: 'json',
  }).success(function(data) {
    alert("Success in creating message");
  }
)};
