<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.firstname%>, <%= @user.lastname%></h1>
    <p>
      Access to app under following URL: <a href="www.myMealz.uqcloud.net.au">myMealz</a>
    </p>
    <p>Thanks for joining myMealz.</p>
    <p>Being healthier doesn't have to mean overhauling your entire lifestyle.</p>
    <p>Sometimes all it takes is a few simple changes. From eating more carrots to watching puppy videos (that's right, puppy videos), just a few small changes can make a huge difference in the way you feel.</p>
    <p>Being a part of the myMealz family is that small change in your life to becoming a better healthier person.</p>
  </body>
</html>
