<p>Hi <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
<p>If you did change your password, ignore this email.</p>
<p>If you did not change your password, please contact us immediately.</p>